In [5]:
# If the size of your data is managable, you can directly load the csv file as a DataFrame using Pandas:
import pandas as pd
# data: https://data.cambridgema.gov/Transportation-Planning/Resident-Workforce-Commuting-Mode-Split-by-Place-o/4wd7-ic9p
url = 'https://data.cambridgema.gov/resource/4wd7-ic9p.csv'
modes = pd.read_csv(url)
modes.head()

,census_tract,year,population,total_laborforce,resident_workforce,perc_total_resident_workforce,drove_alone,carpool,public_transit,walk,bike,other_mode,work_at_home
0,3521,1990,2098,1115,411,1.6,31.6,3.2,11.4,42.3,8.8,1.2,1.5
1,3521,2000,3042,1504,486,1.9,19.5,7.6,8.6,49.2,2.5,2.3,10.3
2,3521,2006-2010,3777,2115,660,2.6,13.6,2.1,12.9,31.8,7.6,5.3,27.3
3,3521,2012-2016,4100,2365,796,3.0,20.0,1.0,17.0,43.0,5.0,1.0,12.0
4,3521.01,2006-2010,1315,900,295,1.1,0.0,0.0,13.6,25.4,5.1,11.9,44.1

In [11]:
modes_1990 = modes.filter(year='1990')

TypeError: filter() got an unexpected keyword argument 'year'

In [3]:
url = 'https://data.cambridgema.gov/resource/wfre-hbsk.csv'
df = pd.read_csv(url)
df.head()

,attribute,proportion_of_laborforce,drove_alone,carpool,public_transit,bike,walk,bike_walk_combined,other_mode,work_at_home
0,All Workers,100.0,28.0,4.0,29.0,7.0,25.0,32.0,1.0,7.0
1,16-24 Years Old,20.0,17.0,4.0,24.0,5.0,44.0,49.0,1.0,5.0
2,25-44 Years Old,53.0,27.0,3.0,34.0,9.0,21.0,30.0,1.0,5.0
3,45-64 Years Old,21.0,39.0,4.0,23.0,6.0,18.0,23.0,1.0,10.0
4,65 Years and Over,6.0,42.0,3.0,19.0,3.0,18.0,20.0,1.0,16.0