In [2]:
# If the size of your data is managable, you can directly load the csv file as a DataFrame using Pandas:
import pandas as pd
# data: https://data.cambridgema.gov/Transportation-Planning/Resident-Workforce-Commuting-Mode-Split-by-Place-o/4wd7-ic9p
url = 'https://data.cambridgema.gov/resource/4wd7-ic9p.csv'
modes = pd.read_csv(url)
modes.head()

,census_tract,year,population,total_laborforce,resident_workforce,perc_total_resident_workforce,drove_alone,carpool,public_transit,walk,bike,other_mode,work_at_home
0,3521,1990,2098,1115,411,1.6,31.6,3.2,11.4,42.3,8.8,1.2,1.5
1,3521,2000,3042,1504,486,1.9,19.5,7.6,8.6,49.2,2.5,2.3,10.3
2,3521,2006-2010,3777,2115,660,2.6,13.6,2.1,12.9,31.8,7.6,5.3,27.3
3,3521,2012-2016,4100,2365,796,3.0,20.0,1.0,17.0,43.0,5.0,1.0,12.0
4,3521.01,2006-2010,1315,900,295,1.1,0.0,0.0,13.6,25.4,5.1,11.9,44.1

In [29]:
for i in modes.index:
    modes.loc[i,'top_mode'] = modes.iloc[:, 6:].loc[i].sort_values(ascending=False).index[0]

In [30]:
modes

,census_tract,year,population,total_laborforce,resident_workforce,perc_total_resident_workforce,drove_alone,carpool,public_transit,walk,bike,other_mode,work_at_home,top_mode
0,3521,1990,2098,1115,411,1.6,31.6,3.2,11.4,42.3,8.8,1.2,1.5,walk
1,3521,2000,3042,1504,486,1.9,19.5,7.6,8.6,49.2,2.5,2.3,10.3,walk
2,3521,2006-2010,3777,2115,660,2.6,13.6,2.1,12.9,31.8,7.6,5.3,27.3,walk
3,3521,2012-2016,4100,2365,796,3.0,20.0,1.0,17.0,43.0,5.0,1.0,12.0,walk
4,3521.01,2006-2010,1315,900,295,1.1,0.0,0.0,13.6,25.4,5.1,11.9,44.1,work_at_home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,3550,2012-2016,3215,1885,565,2.0,22.0,5.0,43.0,15.0,0.0,0.0,15.0,public_transit
128,Citywide,1990,95802,52355,25488,NaN,24.8,6.6,12.3,44.5,4.0,0.7,7.1,walk
129,Citywide,2000,101355,54979,25513,NaN,19.0,4.6,13.3,45.2,5.4,1.1,11.4,walk
130,Citywide,2006-2010,103506,56910,25759,NaN,16.0,3.9,15.6,41.3,8.8,1.1,13.3,walk
131,Citywide,2012-2016,108755,61930,25183,100.0,13.0,2.0,15.0,43.0,9.0,1.0,17.0,walk

In [31]:
modes_1990 = modes[modes.year =='1990']
modes_2000 = modes[modes.year =='2000']
modes_2006 = modes[modes.year =='2006-2010']
modes_2012 = modes[modes.year =='2012-2016']

In [32]:

modes_1990.to_csv('modes_1990.csv')
modes_2000.to_csv('modes_2000.csv')
modes_2006.to_csv('modes_2006.csv')
modes_2012.to_csv('modes_2012.csv')